*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/core/gamification/build/
/simulator/build/
/apps/repquest/build/
/apps/focusquest/build/
captures/
.externalNativeBuild/
.cxx/
local.properties
keystore.properties
*.jks
*.keystore
google-services.json
/fastlane/report.xml
